<!-- <kendo-splitter orientation="horizontal" style="height: 200px;">
  <kendo-splitter-pane size="30%">
    <div class="main-contenet-area">
      <app-kendo-panel></app-kendo-panel>
     
    </div>
  </kendo-splitter-pane> -->

<!-- <kendo-splitter-pane> -->

<!-- Main Content area -->
<!-- <app-kendo-main-contenet-area></app-kendo-main-contenet-area> -->
<!-- <app-shiping-grid></app-shiping-grid>`
  </kendo-splitter-pane>

</kendo-splitter> -->

<div id="container">
  <div class="main-contenet-area" style="width:18%">
    <app-kendo-panel></app-kendo-panel>
  </div>
  <div style="width:81%">
    <app-kendo-main-contenet-area></app-kendo-main-contenet-area>
  </div>
</div>