<div class="signup-form background">
    <form  method="post">
    <h2>Change Password</h2>
    <p class="lead">Want to change password? It will take hardly 10 sec.</p>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-lock"></i>
        </span>
        <input type="text" class="form-control" name="oldPassword" placeholder="Old Password"
          required="required">
      </div>
      <div class="input-group">
          <span class="input-group-addon">
              <i class="fa fa-lock"></i>
          </span>
          <input type="text" class="form-control" name="newPassword" placeholder="New Password"
            required="required">
        </div>

        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-lock"></i>
                <i class="fa fa-check"></i>
            </span>
            <input type="text" class="form-control" name="confirmPassword" placeholder="Confirm Password"
              required="required">
          </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block btn-lg" (click)="changePassword()">Change Password</button>
    </div>
    <div class="text-center" >Already have an account?
      <a  routerLink="/login" class="trigger-btn">Login Here</a>.</div>
      </form>
</div>