.tenanntSelection{
    width: 78%;
    margin: 50px auto;
    top: 60px;
    position: relative;
    border-radius: 10px;
    color: dodgerblue;
    background-color: white;
    text-align: center;
}

.lead{
    color: dodgerblue;
    font-size: 18px;
}

.item{
    width: 70%!important;
    margin: 2px auto;
    
}