<kendo-splitter orientation="horizontal">
    <kendo-splitter-pane size="50%">
      <app-shiping-grid></app-shiping-grid>
    </kendo-splitter-pane>
    <kendo-splitter-pane>
      <app-shipping-chart-1></app-shipping-chart-1>
    </kendo-splitter-pane>
  </kendo-splitter>
  
  <kendo-splitter orientation="horizontal">
    <kendo-splitter-pane size="50%">
      <app-shipping-chart-1 ></app-shipping-chart-1>
    </kendo-splitter-pane>
    <kendo-splitter-pane>
      <app-shipping-chart-1 ></app-shipping-chart-1>
    </kendo-splitter-pane>
  </kendo-splitter>